{% extends "web/layout.html" %}


{% block b %}
    Home

{% endblock %}

{% block sub %}
    <p>Welcome to the PLMS debate website.</p>
<p><strong>WHEN</strong><br>     
     Registration closes on Friday May 14th<br>
     Opening Rounds - Wednesday May 19th<br>
     Elimination Rounds - Wednesday May 26th<br>
     Awards Ceremony - Evening, May 26th<br>

    <strong>WHERE</strong><br>
     Online - Zoom links forthcoming<br>

    <strong>WHO</strong><br>
     Any 6th, 7th, 8th grade PLMS student<br>
     you do not have to have taken a Speech/Debate class<br>
        to participate</p>
    <a href="{% url 'web:t_reg' %}"><p>Team register</p></a>
    <a href="{% url 'web:p_reg' %}"><p>Participant register</p></a>
{% endblock %}
