{% extends "web/layout.html" %}


{% block b %}
    Home

{% endblock %}

{% block sub %}
    <p>Welcome to the PLMS debate website.</p>
    
    <strong><p>WHEN</p></strong><br><hr>     
    <p>Registration closes on Friday May 14th</p><br>
    <p>Opening Rounds - Wednesday May 19th</p><br>
    <p>Elimination Rounds - Wednesday May 26th</p><br>
    <p>Awards Ceremony - Evening, May 26th</p><br><hr>

    <strong><p>WHERE</p></strong><br>
    <p>Online - Zoom links forthcoming</p><br><hr>

    <strong><p>WHO</p></strong><br>
    <p>Any 6th, 7th, 8th grade PLMS student</p><br>
    <p>you do not have to have taken a Speech/Debate class<br>
        to participate</p><hr><br>
    <a href="{% url 'web:t_reg' %}"><p>Team register</p></a>
    <a href="{% url 'web:p_reg' %}"><p>Participant register</p></a>
{% endblock %}
