{% extends "web/layout.html" %}


{% block b %}
    Home

{% endblock %}

{% block sub %}
    <p>Welcome to the PLMS debate website.</p>
    
    <h1>Event Info</h1><br>
    <h2>When</h2>
    <p>Registration closes on Friday May 14th 2021</p>
    <p>Opening Rounds - Wednesday May 19th,2021</p>
    <p>Elimination Rounds - Wednesday May 26th, 2021</p>
    <p>Awards Ceremony - Evening, May 26th, 2021</p>
    <hr>

    <h2>Where</h2>
    <p>Online - Zoom links coming soon.</p>
    <hr>

    <h2>Who</h2>
    <p>Any 6th, 7th and 8th grade PLMS student</p>
    <i><p>you do not have to have taken a Speech/Debate class
        to participate<p></i>
    
    <a href="{% url 'web:t_reg' %}"><p>Team register</p></a>
    <a href="{% url 'web:p_reg' %}"><p>Participant register</p></a>
{% endblock %}
