{% extends "web/layout.html" %}


{% block b %}
    Rules

{% endblock %}

{% block sub %}
    <p>Here are the rules</p>
    <h1> Debate Rules - Forensic</h1>
    <p>a.  Forensic Debate is only open to students from the
        Advanced Speech and Debate class (Trimester 3).</p>
    <p>b.  Forensic teams are 2 person teams, and are open
        to 7th/8th grade students.</p>
    <p>c.  Top team from each round advances</p>
    <p>d.  Debate topic announced March 1st.  Teams must
        prepare for Affirmative and Negative positions.</p>
    <hr>
    <br>
    <h1>Debate Rules - Trivium</h1>
    <p>a.  Trivium Debate is open to teams of 6th grade
        students and 7th/8th grade students (2 categories).</p>
    <p> b.  Trivium Debate is open to all.  No prerequisites.</p>
    <p>c.  Teams Must have 5 people.  ONE role per person: 
        Presenter, Defender, or Attacker</p>
    <p>d.  Participants will be able to organize their teams. 
                 Organizers do reserve the right to add individual
        sign-ups to a team with less than 5 people.</p>
    <p>e.  Rounds consist of 4 teams debating each other. </p>
    <p>f.   Top 2 two teams advance to elimination rounds.</p>
    <p> g.  Teams will choose defense topics on April 1st
        bin a lottery style draw.</p>

    
{% endblock %}
