{% extends "web/layout.html" %}


{% block b %}
    Team Registeration

{% endblock %}

{% block sub %}
    <form action="{% url 'web:t_reg' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="name" style="width:500px;" required><br><br>
        <input type="email" name="email" placeholder="email" style="width:500px;" required><br><br>
        <input type="text" name="ph" placeholder="Phone Number" style="width:500px;" required><br><br>
        <input type="text" name="team_name" placeholder="Team Name" style="width:500px;" required><br><br>
        <select id="team_type" name="team_type">
            <option value="Trivial">Trivial Debates 6th Grade</option>
            <option value="Forensic">Forensic Debates 7th and 8th Grade</option>
          </select>
        <input type="submit">
    </form>
{% endblock %}

{{message}}
